.botIcon {
  border-radius: 20px 2px 20px 20px;
  background-image: url('./bot.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-size: 80%;
  background-color: #0a0a0a;
  border-color: #0a0a0a;
  content: 'b'
}